{% extends "base.html.twig" %}
{% block title 'Réinitialiser mon mot de passe' %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <form class="form-signin" action="" method="post">
            <div class="text-center mb-4">
              <img src="https://demo.tagdiv.com/newspaper/wp-content/uploads/2018/08/logo-mobile.png" alt="Grands Lacs News Logo" title="Grands Lacs News Logo">
              <h1 class="h3 mb-3 font-weight-bold">Créer un nouveau mot de passe</h1>
              <p>Veullez entrer un nouveau mot de passe : </p>
            </div>
          
            <div class="form-label-group">
              <input type="password" id="password" name="password" class="form-control" placeholder="Enter un noveau mot de passe" required>
              <label for="password">Mot de passe</label>
            </div>
          
            <div class="form-label-group">
              <input type="password" id="confirm" name="confirm" class="form-control" placeholder="Confirmer le le mot de passe" required>
              <label for="confirm">Confirmer</label>
            </div>
            <p><a href="{{ path('auth.password') }}"></a>Veuiller retenir le nouveau mot de passe pour une prochaine connexion</a></p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Mettre à jour</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy;G-L&#9865;News, 2019-2020</p>
        </form>
    </div>

{% endblock  %}