{% extends "base.html.twig" %}

{% block title 'S\'inscrire' %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un compte</h1>
        {{ include("security/_form.html.twig", {button: 'Créer'}) }}
    </div>

{% endblock %}