{% extends "base.html.twig" %}
{% block title 'Agence de test' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Welcome to the blog</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed molestiae vero sunt tenetur labore porro natus ipsam mollitia dolorem quod?</p>
    </div>

    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    {% include "property/_property.html.twig" %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock  %}