{% if vich_uploader_asset(pub, 'imageSmallfile') is not null %}
    <a href="{{ pub.link }}">
        <img src="{{ vich_uploader_asset(pub, 'imageSmallfile') }}" alt="{{ pub.title }}" width="100%" title="{{ pub.title }}">
    </a>
{% endif %}