{% extends "base.html.twig" %}

{% block title 'Ajouter un article' %}

{% block body %}
    
    <div class="container mt-4">
        <h1>Ajouter un article</h1>
        {{ include("admin/post/_form.html.twig") }}
    </div>

{% endblock %}