{% extends "base.html.twig" %}
{% block title 'Voir toutes les catégories' %}

{% block body %}
    <div class="container mt-4">
        <h1>Toutes les catégories</h1>
        <div class="row">
            <ul>
                {% for category in categories %}
                    <li>
                        <a href="{{ path('category.show', {id: category.id, slug: category.slug}) }}">{{ category.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock  %}