{% extends "base.html.twig" %}
{% block title 'Voi tous nos biens' %}

{% block body %}

    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit odit repellendus, eos quaerat error, neque culpa officia, reprehenderit libero quis impedit aperiam animi. Possimus, minus eum expedita sed id reiciendis doloremque aspernatur similique animi eius, ipsum deserunt repellat delectus placeat veritatis sint, vero eveniet assumenda consequatur. Veniam culpa nesciunt quia error ipsa, officiis suscipit. Consequatur alias adipisci quam, facilis animi expedita laborum iste placeat rem iure veritatis aut quas. Delectus enim repellat sapiente consequatur nostrum. Optio eum minima delectus. Quis, natus ratione? Necessitatibus autem ea commodi atque, ab in magni quisquam quos facere culpa, soluta voluptate repellendus. Dolorem, aliquam!</p>
    </div>

{% endblock  %}