$theme-color: #626dff;

@media only screen and (max-width: 768px) {
    .stickyTop > div {
        padding: 0 60px;
        #burger {
            display: block;
            i:last-of-type {
                display: none;
            }
            &.active
            {
                i:last-of-type {
                    display: block;
                }
                i:first-of-type {
                    display: none;
                }
            } 
        }
        .menu {
            display: none;
        }
    }
    .mobile-menu.active {
        display: block;
        
        .mobile-menu__item {
            background-color: $theme-color;
            width: 100%;
            padding: 20px 40px;
            border-bottom: 2px solid #444dcf;
            color: #ffffff;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: .5px;
            margin-right: 40px;
            transition: border-bottom 300ms ease;
            border-bottom: 1px solid transparent;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        .js-services.current {
            border-bottom: 2px solid #2f9657;
        }
    }
}