@import "lib/compass";

$theme-title: rgba(255,255,255,.95);
$front-color: #FFF;
$active-color: #4db2ec;
$theme-color: #000;
$theme-back-color: #222222;
$text-color: #111111;
$must-read: #f44336;
$last-article: #607d8b;
$cat-1-color: #ffc800;
$top-article: #1b2e3f;
$text-muted: #777;
$crumb-color: #c3c3c3;

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
$header-bg: $theme-title;

/*------------------------------------*\
    $BASE
\*------------------------------------*/
html {
    scroll-behavior: smooth;
}
html, body{
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding: 0;
}
a { text-decoration: none; color:inherit; }
.container{
    margin: 0 20px;
    @include clearfix;
}

.top-title {
    
    font-size: 12px;
    line-height: 24px;
    color: $front-color;
    background: $theme-back-color;
    width: 100%;
    height: 28px;
    vertical-align: baseline;
    .top-left {
        float: left;
        span {
            margin: 0 10px;
        }
    }

    .top-right {
        float: right;
        span {
            margin: 0 5px;
            font-size: 15px;
        }
    }
    a {
        color: $theme-title;
        &:hover {
            text-decoration: none;
            color: $active-color;
        }
    }
}
.site-content{ padding-top: 10px; }

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.header{
    font-size: 14px;
    font-family: "open sans",arial,sans-serif;
    position: sticky;
    transition: top 0.3s ease-in-out;
    top: 0;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    // box-shadow: 0 1px 6px -1px rgba(32,33,36,0.28);
    box-shadow: 0px 15px 10px -15px rgba(17, 17, 17, 0.205);
    line-height: 48px;
    color:$front-color;

    background-color: $header-bg;
    z-index: 1;

    a {
        text-decoration: none;
        color: $theme-back-color;
    }
    .search-icon {
        float: right;
        font-size: 1rem;
    }
}

.nav-up {
    top: -158px;
}

.media {
    width: 100%;
    height: 28px;
    background: $theme-back-color;
    font-size: 11px;
}
.header__logo{
    display: flex;
    height: 100px;
    font-weight: bold;
    align-items: center;
    margin: 10px 0 5px 0;
    img {
        background: $theme-back-color;
    }
    .pub {
        margin-left: 10px;
        width: 100%;
        background: lighten($color: $theme-back-color, $amount: 30);
        height: 100%;
        text-align: center;
        color: $theme-title;
    }
}

.logo-mobile {
    display: none;
}
/*------------------------------------*\
    $MENU
\*------------------------------------*/
.menu{
    overflow: visible;
    float: left;
    ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
            list-style: none;
            padding: 0 10px;
            transition: .3s;

            &.active, &:hover {
                border-bottom: solid 3px $active-color;
                a, a:hover {
                    text-decoration: none;
                    color: $text-color;
                }
            }
            &.login-link {
                display: none;
                text-align: center;
                width: 100%;
                &:hover {
                    border-bottom: unset;
                }
                i {
                    padding: 0 10px;
                    font-size: 22px;
                }
            }
        }
        
        img {
            background: $theme-back-color;
            width: 170px;
            height: auto;
            &.hide-logo {
                display: none;
            }
        }
    }
}

.sub-menu {
    ul {
        text-transform: capitalize;
        display: none;
        background: $theme-title;
        position: absolute;
        margin: 3px 0 0 -10px;
        box-shadow: 0px 5px 5px 5px rgba(17, 17, 17, 0.205);
        min-width: 100px;
        li {
            display: block;
            &:hover {
                border-bottom: unset;
                color: $active-color;
                padding-left: 20px;
            }
            
            i {
                transform: rotate(180deg);
                padding-right: 5px;
                padding-left: 0;

            }
        }
    }
    &:hover ul {
        display: block;
    }
    i {
        // background: rgb(224, 149, 149);
        font-size: 80%;
        padding-left: 5px;
        padding-right: 0;
        transition: .3s ease;
    }
}

.emergency {
    align-items: center;
    padding: 15px 0;
    margin:0 0 5px 0;
    display: flex;
    a {
        color: $theme-back-color;
    }
    .em-title {
        font-size: 14px;
        padding: 5px 15px;
        color: $front-color;
        background: $theme-back-color;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .carousel {
        display: flex;
        align-items: center;
        width: 100%;
        .carousel-item {
            opacity: 0;
            transition: .3s ease-in-out;
            a {
                width: 100%;
                padding-top: 10px;
                overflow: hidden;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        p {
            padding: 0 0 0 10px;
            margin: 0;
        }
        .active {
            opacity: 1;
        }
        .carousel-text-prev, .carousel-text-next {
            width: 25px;
            font-size: 14px;
            line-height: 24px;
            border: 1px solid #dcdcdc;
            text-align: center;
            vertical-align: middle;
            color: #b7b7b7;
            vertical-align: middle;
            transition: .4s ease;
            &:hover {
                background-color:$active-color;
                border-color:$active-color;
                color: $theme-title;
            }
        }

    }
}

.top-news {
    display: flex;
    height: 70vh;
    overflow: hidden;
    margin-bottom: 30px;
    color: $theme-title;
    .top-post {
        width: 100%;
        margin-right: 3px;
        position: relative;
        overflow: hidden;
    }
    .last-news {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
         
        .top-news-2 {
            width: auto;
            height: 60%;
            margin-bottom: 3px;
            position: relative;
            overflow: hidden;
            h6 {
                font-size: 140%;
            }
        }
        .top-news-3 {
            width: 100%;
            height: 40%;
            display: flex;
            
            .post-item {
                width: 50%;
                position: relative;

                &:nth-child(1) {
                    margin-right: 3px;
                    overflow: hidden;
                }
                &:nth-child(2) {
                    overflow: hidden;
                }
            }
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-position: top;
        object-fit: cover;
    }
    a:last-child:before {
        bottom: 0;
        content: "";
        display: block;
        height: 70%;
        width: 100%;
        position: absolute;
        background: linear-gradient(to bottom,rgba(0,0,0,0) 30%,rgba(0,0,0,0.7) 90%);
    }
}

.post-container {
    width: 100%;
    height: 100%;
    transition: .3s ease;
    &:hover {
        // text-decoration: none;
        // color: $theme-title;
        transform: scale(1.08);
        filter: brightness(85%);
    }
}

.post-infos {
    position: absolute;
    pointer-events: none;
    bottom: 0;
    width: auto;

    .post-infos-head {
        margin: 0 0 0 20px;
        width: 90%;
    }
    .post-category {
        font-family: roboto,sans-serif;
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        display: inline-block;
        margin: 0 0 5px;
        padding: 3px 7px;
        line-height: 13px;
        pointer-events: auto;
        background-color: rgba(0,0,0,.7);
            
        text-decoration: none;
        color: $theme-title;
    
        transition: background-color .3s ease;
        &:hover, &.hover {
            text-decoration: none;
            color: $theme-title;
            background: $active-color;
        }
    }
    
    .post-infos-details {
        margin: 11px 0 20px 20px;
        z-index: 1;
        font-family: 'Open Sans', arial, sans-serif;
        font-size: 11px;
        line-height: 1;
        .post-author {
            font-weight: 700;
        }
    }
}
.cat-high-title {
    h6 {
        color: $theme-title;
        font-size: 90%;
        font-family: roboto, sans-serif;
        padding: 7px 10px 5px 10px;
        background: $must-read;
        display: inline-block;
        margin: 0;
        text-transform: uppercase;
    }
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: $must-read;
        margin-bottom: 15px;
    }
    .cat-high-menu {
        display: inline-block;
        float: right;
        padding: 0;
        margin: 0;
        font-size: 80%;
        ul {
            padding-left: 0;
            list-style: none;
            margin: 0;
            li {
                display: inline-block;
                &.sub-menu {
                    position: relative;
                    padding: 5px;
                    transition: .3s ease;
                    ul {
                        right: 0;
                        z-index: 2;
                        line-height: 30px;
                        border-top: 3px solid $must-read;
                        margin: 0;
                        text-align: right;
                        padding: 5px 5px 10px 0;
                        li {
                            padding: unset;
                            &:hover {
                                color: $must-read;
                            }
                        }
                    }
                    i {
                        transition: .3s ease;
                    }
                    &:hover i {
                        transform: rotate(180deg);
                    }
                    &:hover {
                        background: $must-read;
                        color: $theme-title;
                        cursor: pointer;
                    }
                }
            }
        }
        a {
            padding: 7px 5px 4px 5px;
            // margin: 0;
            color: $text-muted;
            transition: .3s ease;
            font-family: roboto, sans-serif;
            line-height: 1;
            &:hover {
                text-decoration: none;
                color: $must-read;
            }
            &.cat-more:hover {
                color: $must-read;
                
            }
        }
    }
}

.cat-post-img {
    width: 100%;
    padding-bottom: 10px;
    overflow: hidden;
    position: relative;
    .item-cat {
        display: block;
        position: absolute;
        bottom: 10px;
        font-family: 'Open Sans', arial, sans-serif;
        font-size: 11px;
        line-height: 1;
        background-color: $theme-back-color;
        color: $theme-title;
        padding: 3px 6px 4px;
        transition: all 0.2s ease;
        &:hover {
            background-color: $last-article;
            color: $theme-title!important;
        }
    }
}

.cat-highlights {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    .cat-high-body {
        height: 100%;
        overflow: hidden;
        
    }
    a {
        text-decoration: none;
        color: $text-color;
        &:hover {
            color: $must-read;
            text-decoration: none;
        }
    }

}

.cat-post-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    .cat-post-body {
        width: 100%;
        height: 40%;
        h5 {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }
        a {
            color: $text-color;
            transition: .3s ease;
            &:hover {
                text-decoration: none;
                color: $active-color;
            }
        }
        .cat-post-infos {
            font-family: 'Open Sans', arial, sans-serif;
            font-size: 11px;
            margin-bottom: 7px;
            color: $text-muted;
            
            .td-post-author-name {
                font-weight: bold;
                display: inline-block;
                position: relative;
            }
            .td-module-comments {
                position: relative;
                float: right;
                font-family: 'Open Sans', arial, sans-serif;
                font-weight: 600;
                text-align: center;
                line-height: 1;
                a {
                    color: #fff;
                    background-color: #000;
                    display: inline-block;
                    min-width: 17px;
                    padding: 3px 4px 4px 5px;
                    position: relative;
                }
                a:after {
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 3px 3px 0 0;
                    border-color: #000 transparent transparent transparent;
                }
            }
        }
        
        .cat-post-excerpt {
            font-size: 85%;
            color: $text-muted;
            font-family: 'Open Sans', arial, sans-serif;
            margin-top: 9px;
        }
    }
    a:hover {
        text-decoration: none;
    }
}

.cat-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .cat-item-post {
        width: 100%;
        display: flex;
        
        .item-thumb {
            width: 100px;
            height: 70px;
            flex-shrink: 0;
            margin-bottom: 10px;
        }
        .item-details {
            margin-left: 10px;
            h6 {
                color: $text-color;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 90%;
                margin-bottom: 0;
                &:hover {
                    color: $must-read;
                }
            }
            span {
                font-family: 'Open Sans', arial, sans-serif;
                font-size: 11px;
                color: $text-muted;
            }
        }
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.last-articles-title {
    h6 {
        background: $last-article;
    }
    &:after {
        background: $last-article;
    }
}
.popular-articles-title {
    h6 {
        background: $active-color;
    }
    &:after {
        background: $active-color;
    }
}
.last-articles {
    .last-art-item {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        .cat-post-img {
            width: 100%;
            height: 25vh;
            position: relative;
            .item-cat {
                display: block;
                position: absolute;
                bottom: 10px;
                font-family: 'Open Sans', arial, sans-serif;
                font-size: 11px;
                line-height: 1;
                background-color: $theme-back-color;
                color: $theme-title;
                padding: 3px 6px 4px;
                transition: all 0.2s ease;
                &:hover {
                    background-color: $last-article;
                }
            }
        }
        .cat-post-body {
            height: 20%;
            h6 {
                color: $text-color;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 90%;
                margin-bottom: 0;
                &:hover {
                    color: $last-article;
                }
            }
            
        }
    }
    a {
        text-decoration: none;
        color: $text-color;
        &:hover {
            color: $must-read;
            text-decoration: none;
        }
    }
}
.social-panel-title {
    h6 {
        background: $text-color;
    }
    &:after {
        background: $text-color;
    }
}
.top-articles-title {
    h6 {
        background: $top-article;
    }
    &:after {
        background: $top-article;
    }
}
.top-articles {
    width: 100%;
    .cat-item-post {
        .item-thumb {
            width: 100%;
            height: 20vh;
            margin-bottom: 20px;
        }
        .item-details {
            width: 100%;
            h5 {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                margin-bottom: 0;
                
            }
            a {
                color: $text-color;
                &:hover {
                    color: $top-article;
                    text-decoration: none;
                }
            }
            .cat-post-infos {
                font-family: 'Open Sans', arial, sans-serif;
                font-size: 11px;
                margin-bottom: 7px;
                color: $text-muted;
                
                .td-post-author-name {
                    font-weight: bold;
                    display: inline-block;
                    position: relative;
                }
                .td-module-comments {
                    position: relative;
                    float: right;
                    font-family: 'Open Sans', arial, sans-serif;
                    font-weight: 600;
                    text-align: center;
                    line-height: 1;
                    a {
                        color: #fff;
                        background-color: #000;
                        display: inline-block;
                        min-width: 17px;
                        padding: 3px 4px 4px 5px;
                        position: relative;
                    }
                    a:after {
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 3px 3px 0 0;
                        border-color: #000 transparent transparent transparent;
                    }
                }
            }
            
            .cat-post-excerpt {
                font-size: 85%;
                color: $text-muted;
                font-family: 'Open Sans', arial, sans-serif;
                margin-top: 9px;
            }
        }
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
    &:hover {
        filter: brightness(85%);
    }
}

.connect-link {
    a {
        margin-bottom: 10px;
        display: flex;
        line-height: 40px;
        font-weight: 500;
        font-family: roboto, sans-serif;
        font-size: 14px;
        justify-content: space-between;
        color: $text-color;
        i {
            color: $theme-title;
        }
        span {
            
            &.text-connect {
                flex-grow: 1;
                padding-left: 15px;
            }
        }
        &:hover, &:hover i {
            color: $active-color;
            text-decoration: none;
        }
    }
    .connect-icon {
        width: 40px;
        height: 40px;
        background: $top-article;
        text-align: center;
        font-size: 25px;
        border-radius: 5px;
        a {
            color: $theme-title;
        }
    }
}
.carousel-last-posts {
    .carousel-post {
        width: 100%;
        height: 35vh;
        
        a:last-child:before {
            bottom: 0;
            content: "";
            display: block;
            height: 70%;
            width: 100%;
            position: absolute;
            background: linear-gradient(to bottom,rgba(0,0,0,0) 30%,rgba(0,0,0,0.7) 90%);
        }
    }
    h6 {
        color: $theme-title;
    }
}
.pub-1 {
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.548);
}
.reports {
    .report-item {
        span  {
            display: inline-block;
            color: $theme-title;
            background: $last-article;
            padding: 0px 10px;
            transition: .3s ease;
            text-transform: capitalize;
            &.interview-cat {
                background: $must-read;
            }
            &:hover {
                background: $active-color;
            }
            margin-bottom: 5px;
        }
    }
    a {
        color: $text-color;
        transition: .3s ease;
        &:hover {
            text-decoration: none;
            color: $active-color;
        }
    }
    h5 {
        font-family: roboto, sans-serif;
        font-weight: 400;
    }
    .more {
        float: right;
        display: inline-block;
        background: $active-color;
        padding: 5px 10px;
        color: $theme-title;
        border-radius: 5px;
        transition: .3s ease;
        &:hover {
            color: $text-color;
        }
    }
}
.pub-2 {
    width: 80%;
    height: 100px;
    margin: auto;
    background: rgba(0, 0, 0, 0.459);
}
.gotop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    opacity: 0.3;
    cursor: pointer;
    display: none;
    &:hover {
    transition: opacity .5s, background .3s;
    opacity: 0.9;
    }
}
footer {
    background: $top-article;
    height: 100%;
    color: #FFF;
    border-top: 3px solid $active-color;
    padding-top: 30px;
    font-size: 90%;
    h4 {
        text-transform: capitalize;
    }
    img {
        width: 100%;
        height: auto;
    }
    .copyright {
        margin: 20px 0;
    }
    span a {
        margin: 0 10px;
        font-size: 25px;
        color: $front-color;
        &:hover {
            color: $active-color;
        }
    }
    .cat-items {
        font-size: 100%;
        margin: 20px 0;
        .cat-item-post {
            .item-details {
                h6 {
                    color: $theme-title;
                    &:hover {
                        color: $active-color;
                    }
                }
            }
        }
        a {
            text-decoration: none;
            &:hover {
                color: $active-color;
                text-decoration: none;
            }
        }
    }
    .post-reminder {
        ul {
            font-size: 100%;
            font-family: 'Open Sans', arial, sans-serif;
            list-style: none;
            padding: 0;
            li {
                line-height: 30px;
                
            }
            a {
                color: $theme-title;
                transition: .3s ease;
                &:hover {
                    text-decoration: none;
                    color: $active-color;
                }
                .cat-nb {
                    float: right;
                }

            }
        }
    }
    
}
.crumb {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 12px;
    color: $crumb-color;
    line-height: 18px;
    padding: 5px 0;
    a {
        color: $crumb-color;
        &:hover {
            color: $text-muted;
            text-decoration: none;
        }
    }
    i {
        font-size: 8px;
        margin: 0 5px;
    }
}
.post-header {
    ul.category {
        
        list-style: none;
        font-family: 'Open Sans', arial, sans-serif;
        font-size: 10px;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 5px 5px 0;
            line-height: 1;
            padding: 5px;
            background: green;
            &:nth-child(1) {
                background: $active-color;
            }
            &:nth-child(2) {
                background: $last-article;
            }
            &:hover {
                filter: brightness(110%);
                a {
                    text-decoration: none;
                }
            }
        }
        a {
            color: $theme-title;
        }
    }
    .post-title {
        h1 {
            font-family: 'Roboto', sans-serif;
            color: #111111;
            font-weight: 500;
            word-wrap: break-word;
        }
        .post-info {
            font-family: 'Open Sans', arial, sans-serif;
            font-size: 11px;
            margin-bottom: 15px;
            line-height: 1;
            min-height: 17px;
            .post-author {
                font-weight: 400;
                color: #444;
                float: left;
                display: inline-block;
                position: relative;
                a {
                    margin: 3px;
                    font-weight: 700;
                    text-transform: capitalize;
                }
            }
            .post-date {
                margin-left: 5px;
            }
            .post-stat {
                float: right;
                display: inline-block;
                font-size: 13px;
                margin-left: 20px;
            }
            a {
                color: $theme-back-color;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.sharing-post {
    font-family: 'open sans',arial,sans-serif;
    margin-bottom: 20px;
    .share-icon {
        padding-left: 17px;
        padding-right: 17px;
        background-color: #516eab;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        font-size: 11px;
        text-align: center;
        line-height: 40px;
        // z-index: 1;
        display: inline-block;
        position: relative;
        i {
            font-size: 14px;
        }
        
    }
    .share-text {
        display: inline-block;
        position: relative;
        background: #516eab;
        font-size: 11px;
        text-align: center;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-left: -6px;
        padding-left: 12px;
        padding-right: 17px;
        line-height: 40px;
        &:before {
            content: '';
            position: absolute;
            top: 12px;
            left: 0;
            width: 1px;
            height: 16px;
            background-color: #fff;
            opacity: .2;
            z-index: 1;
        }
    }
    a {
        color: $theme-title;
        transition: .3s ease;
        &:hover {
            color: $theme-title;
            opacity: 0.8;
        }
    }
    span i {
        color: $text-muted;
        margin-right: 15px;

    }
}
.post-content {
    .post-featured-img {
        margin-bottom: 10px;
    }
    img:hover {
        filter: unset;
    }
}
.sharing-bottom {
    .share-icon {
        border-radius: 5px;
        span {
            padding-left: 3px;
            font-weight: 500;
        }
    }
    
    span i {
        color: $text-muted;
        margin-right: 5px;

    }
}
.cat-high-toggle {
    h6 {
        color: $theme-title;
        font-size: 90%;
        font-family: roboto, sans-serif;
        display: inline-block;
        margin: 0;
        text-transform: uppercase;
        a {
            padding: 7px 10px 3px 10px;
            background: transparent;
            color: $text-color;
            margin: 0;
            &:hover {
                text-decoration: none;
                color: $text-color;
            }
            &.cat-high-selected {
                background: $text-color;
                color: $theme-title;
            }
        }
    }
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: $text-color;
        margin-bottom: 15px;
    }
    a {
        color: $theme-title;
    }
}
.comment-section {
    .row {
        div {
            margin-bottom: 10px;
        }
    }
    margin-bottom: 20px;
}
.article-reminder {
    .cat-post-details {
        display: block;
        height: auto;
    }
}

.comment-avatar {
    margin: 5px;
    left: 10px;
    width: 54px;
    height: 54px;
    padding: 3px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 1px 9px #e0e0e0, inset 0 0 2px hsla(0,0%,84%,.75);
}
/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
@import "responsive";
@import "bootstrap/bootstrap";