{% extends "base.html.twig" %}

{% block title 'Voir tous nos articles' %}

{% block body %}
    <div class="td-category-header mt-0 mb-2">
        <div class="container">
            <br>
            <div class="crumb mb-0 pb-0">
                <span>
                <a href="{{ path('home') }}">Accueil</a>
                </span>
                <i class="fas fa-chevron-right"></i>
                <span>
                    {% if tag %}
                        <a>{{ tag }}</a>
                    {% else %}
                        <a>Tous les articles</a>
                    {% endif %}
                </span>
            </div>
            <h1>
                {% if tag %}
                    Articles par tag : <span style="color: rgb(0, 153, 255);font-weight:700;">{{ tag }}</span>
                {% else %}
                    <span style="font-weight: 700;">Tous les articles</span>
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="container js-filter">
        <div class="row">
            <div class="col-md-3 mb-3">
                {% include "post/_filter.html.twig" %}
            </div>
            <div class="col-md-9">
                {% if posts is not empty %}
                    <div class="d-flex justify-content-end mb-2 js-filter-sorting">
                        {% include "post/_sorting.html.twig" %}
                    </div>
                    <div class="row cat-high-body js-filter-content">
                        {% include "post/_posts.html.twig" %}
                    </div>
                    <br>
                    <div class="pagination justify-content-center js-filter-pagination">
                        {% include "post/_pagination.html.twig" %}
                    </div>
                {% else %}
                    <div class="justify-content-center mt-8 mb-8">
                        <h1 style="color:rgb(177, 177, 177);" class="text-center">Aucun article ne correspond à ce filtre</h1>
                        <br>
                        <br>
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>
    <br>
{% endblock  %}