{% extends "base.html.twig" %}
{% block title 'Dashboard' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les tags</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>{{ tag.name }}</td>
                            <td>
                                <form method="post" action="{{ path('admin.tag.delete', {id: tag.id}) }}" style="display: inline-block;" onsubmit="return confirm('Etes-vous vraiment sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
        <br>
    </div>
{% endblock  %}